p {
    color: rgb(10, 10, 10);
}

.content__div {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poem__div {
    max-width: 800px;
    font-size: 18;
    margin: 0 10px 0 10px;
}

.pursuit__div {
    font-family: monospace;
    line-height: 0;
    letter-spacing: -3px;
    margin-bottom: 30px;
}

