p {
    color: rgb(10, 10, 10);
}

.content__div {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poem__div {
    /* flex: 1; */
    /* height: 100vh; */
    background-color: #f9f9f9;
    max-width: 800px; /* Sensible max width for readability */
}

.pursuit__div {
    font-family: monospace;
    line-height: 0;
    letter-spacing: -3px;
    margin-bottom: 80px;
}

